#dash-container{
    min-height: 93vh;
    min-width: 100vw;
    background-color: black;
    display: flex;
}
#room-list-container{
    width: 100%;
    min-height: 100%;
    background: purple;
}
#conversation-container{
    min-width: 70%;
    min-height: 100%;
    position: relative;
    
}

  
